<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bda.omnilibrary">
    <!-- android:sharedUserId="android.uid.system" -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:name=".SHOPPINGApplication"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.liveStreamActivity.LiveStreamTransitionActivity" />
        <activity
            android:name=".ui.liveStreamActivity.LiveStreamPortraitActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.liveStreamActivity.LiveStreamLandscapeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.categoryDetail.CategoryDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.brandShopDetail.BrandShopDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.voucherV2.VoucherV2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.checkoutExistingUser.creditCard.CreditCardActivity" />
        <activity
            android:name=".ui.ewallet.EwalletActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.Successful.Step3Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.PaymentMethod.Step2Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.orderDetail.OrderActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.collectionDetail.CollectionDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.liveStreamActivity.LiveStreamActivity">

        </activity>
        <activity
            android:name=".ui.voiceActivity.DiscoveryVoiceActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".ui.mediaActivity.MediaActivity" />
        <activity android:name=".ui.warrantyActivity.WarrantyActivity" />
        <activity
            android:name=".ui.searchActivity.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.authenActivity.AuthenticationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.altAddressActivity.AltAddressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.userInfomationActivity.UserInformationActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.invoiceDetailActivity.InvoiceDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.cartActivity.CartActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.accountAcitity.AccountActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.productDetailActivity.ProductDetailActivity" />

        <activity
            android:name=".ui.productDetailActivity.ProductDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".ui.promotionDetail.PromotionDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".ui.splashActivity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".ui.SearchableActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.LEANBACK_LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable" /> -->
        <!-- </activity> -->
        <!-- <provider android:name=".provider.VideoContentProvider" -->
        <!-- android:authorities="com.bda.omnilibrary" -->
        <!-- android:exported="true" -->
        <!-- tools:ignore="ExportedContentProvider" /> -->
        <service
            android:name=".service.BackgroundSoundService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".dialog.assitant.helper.SpeechService" />
    </application>

</manifest>